/**
 * Global Styles (Body, Buttons, Reusable PHP Blocks)
 *
 * @package Postali Child
 * @author Postali LLC
*/

#wpadminbar { // fix admin bar spacing
	top: -32px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	border: 0;
}

html, body {
	font-size: 18px;
	line-height: 1;
}

body {
	background-color: $dkgrey;
}

header, nav, footer, article, section { 
	display: block;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: bold;
}

ul {
	list-style-type: disc;
	margin-left:20px !important;
}

ol {
	margin-left:20px !important;
}

blockquote {
	quotes: none;
	&:before, &:after {
		content: '';
		content: none;
	}
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}
 
body {
    @media screen and (max-width: $screen-sm) {
        
    }
}

.container {
    max-width:$screen-lg;
    padding: 0 30px;
    @media screen and (max-width: $screen-sm) {
        padding: 0 20px;
    }
	&.centered {
		margin: 0 auto;
		text-align: center;
	}
}

section {
    padding: 100px 0;
    @media screen and (max-width: $screen-sm) {
        padding: 60px 0;
    }
    @media screen and (max-width: $screen-xs) {
        padding: 40px 0;
    }
    &.black {
		background:$blk;
	}
}

.content-container {
	margin-top: 100px;
}

// columns and spacers //

.columns {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	align-items: flex-start;
	&.hero-holder {
		padding-top: 120px;
	}
	.column-20,
    .column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
        display:block;
		position: relative;
		box-sizing: border-box;
		&.centered {
			margin: 0 auto;
			text-align: center;
		}
	}
	.column-break {
		width:100%;
		height:1px;
	}
	.column-20 {
		width:19.5%;
    }
    .column-25 {
		width:23%;
    }
    .column-50 {
		width:45%;
        @media screen and (max-width:$screen-sm) {
		  width:100% !important;
        }
    }
    .column-75 {
		width:66%;
        @media screen and (max-width:$screen-md) {
			width:100%;
        }
    }
    .column-33 {
		width:30%;
        @media screen and (max-width:$screen-sm) {
		  width:100%;
		}
    }
    .column-66 {
		width:63%;
		&.skinny {
			margin:0 auto;
		}
        @media screen and (max-width:$screen-sm) {
		  width:100%;
        }
    }
    .column-full {
		width:100%;
		justify-content: space-between;
	}
	.column-25,
    .column-50,
    .column-75,
    .column-full,
    .column-33,
    .column-66 {
		@media screen and (max-width:$screen-sm) {
			width:100%;
		}
		&.center {
			margin:0 auto;
		}
	}
}

// spacing elements //

.spacer-break,
.spacer-15,
.spacer-30,
.spacer-60,
.spacer-90,
.spacer-120 {
    display:block;
	width:100%;
	@media screen and (max-width: $screen-xs) {
		&.mobile {
			display:none;
		}
	}
}
.spacer-break { height:1px; }
.spacer-15 { height:15px; }
.spacer-30 { height:30px; }
.spacer-60 { height:60px; }
.spacer-90 { height:90px; }
.spacer-120 { height:120px; }

/* Breadcrumbs */
#breadcrumbs {
	position:absolute;
	z-index: 1;
	top:100px;
	left:5%;
	span, a {
		font-family: $lato;
		font-size: 12px;
		line-height: 1.2;
		font-style: italic;
		color: $white;
		text-decoration: none;
	}
	@media screen and (max-width: $screen-sm) {
		top: 75px;
	}
}

/* Global Elements */
// Contact-Results Block
.contact-results {
	background: $blk;
	padding: 0;
	.column-50 {
		min-height: 450px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding: 50px 65px;
		@media screen and (max-width: $screen-sm) {
			padding: 50px 30px;
		}
	}
	.contact {
		padding: 30px 50px 0 0;
		width: 55%;
		@media screen and (max-width: $screen-sm) {
			padding: 30px 15px;
		}
		h2 {
			text-transform: uppercase;
			@media screen and (max-width: $screen-sm) {
                text-align: left;
            }
		}
		&_text, &_comp {
			display: block;
			font-family: $lato;
			font-size: 16px;
			line-height: 24px;
			margin: 15px 0 5px !important;
			height: fit-content !important;
		}
		&_comp {
			color: $yellow;
			text-decoration: underline;
		}
		&_info {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-top: 15px;
			@media screen and (max-width: $screen-sm) {
                display: block;
            }
			.phone-link {
				display: block;
				padding-left: 30px;
				font-family: $josefin;
				font-size: 16px;
				line-height: 25px;
				text-decoration: underline;
				color: $white;
			}
		}
	}
	.results {
		background:$teal;
		@media screen and (max-width: $screen-lg) {
			padding: 50px 25px;
		}
		&_title {
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			font-family: $josefin;
			text-transform: uppercase;
			color: $white;
		}
		&_number {
			font-weight: bold;
			font-size: 64px;
			line-height: 89px;
			font-family: $josefin;
			color: $white;
			@media screen and (max-width: $screen-md) {
				font-size: 50px;
			}
			@media screen and (max-width: $screen-sm) {
                font-size: 48px;
            }
			@media screen and (max-width: $screen-xxs) {
				font-size: 40px;
			}
		}
		&_desc {
			font-size: 18px;
			line-height: 22px;
			font-family: $lato;
			color: $white;
			display: inline-block;
			width: 80%;
			padding-bottom: 20px;
		}
		&_updated {
			font-size: 12px;
			line-height: 26px;
			font-family: $josefin;
			text-transform: uppercase;
			color: $white;
		}
		&_btn {
			margin: 30px 0;
		}
		&_sub {
			font-size: 14px;
			line-height: 22px;
			font-family: $lato;
			color: $white;
			font-style: italic;
		}
	}
}

// Mid-page Block
.mid-page {
	background: $blk;
	&_content {
		display: block;
		padding: 40px 0 30px;
		font-family: $josefin;
		font-weight: bold;
		font-size: 32px;
		line-height: 43px;
		text-transform: uppercase;
		color: $white;
		.yellow {
			color: $yellow;
		}
		@media screen and (max-width: $screen-sm) {
			font-size: 20px;
			line-height: 24px;
		}
	}
}

// Related Posts
.related {
	h2 {
		text-transform: uppercase;
		padding-bottom: 30px;
	}
	.spacer-60 {
		@media screen and (max-width: $screen-sm) {
			height: 15px;
		}
	}
	.post-holder {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
		@media screen and (max-width: $screen-sm) {
			display: block;
		}
		.post-card {
			display: block;
			width: 100%;
			flex-basis: 45%;
			box-sizing: border-box;
			border: $teal 1px solid;
			background: $blk;
			margin-bottom: 30px;
			h3 {
				display: block;
				margin: 5px auto 0;
				padding: 60px 0;
				font-family: $josefin;
				text-align: center;
				color: $white;
				font-size: 24px;
				line-height: 1;
				font-weight: bold;
				text-transform: uppercase;
			}
			&:hover {
				h3 {
					color: $yellow;
					$transition: $trans;
				}
			}
		}
	}
}

// Case Cards
.case-card {
	@include case-card-styles;
}

// Drop Downs
#app-cover {
	@include drop-down-select;
}

// Pagination
.pagination {
	@include pagination-styles;
}

.social-icons {
	a {
		&:hover {
			text-decoration: none;
			span:before {
				color: $white;
			}
		}
	}
	span {
		font-size: 40px;
		&:first-of-type {
			margin-right: 20px;
		}
		&:before {
			-webkit-transition: 0.3s linear;
			transition: 0.3s linear;
		}
	}
}

// Popup Modal
.lity.lity-opened.lity-inline {
	max-width: 600px;
	position: fixed;
	left: calc(50% - 300px);
	top: calc(50% - 227px);
	z-index: 3;
	@media screen and (max-width: $screen-xs) {
		max-width: 320px;
		max-height: 400px;
		left: calc(50% - 160px);
		top: calc(50% - 250px);
		overflow: scroll;
	}
}
.lity-close {
	background: none;
	top: 0;
	right: 0;
	position: absolute;
	color: $white;
	border: none;
	font-size: 35px;
	cursor: pointer;
}
#paid-modal {
	background: $dkgrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px;
	max-width: 600px;
	height: auto;
	@media screen and (max-width: $screen-xs) {
		max-width: 300px;
		padding: 40px 10px 10px;
	}
	h2 {
		padding-bottom: 10px;
	}
	&.lity-hide {
		display: none;
	}
	.modal-page-overlay {
		background-color: $dkgrey;
		position: relative;
		background: $dkgrey;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index: -1;
		opacity: 0.7;
	}
}

.emphasis {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: $black;
}

.gform_required_legend {
	display: none !important;
}